.NavBar {
    width: 100%;
    align-items: center;
}

.NavBarItem{
    color: #000000;
    text-decoration: none;
}
.NavBarItem:hover {
    text-decoration: none;
}

.logo {
    align-items: center;
    display: flex;
}

.icon {
    background-image: url("./images/logo.png");
    width: 48px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
