.NavBar {
    width: 100%;
    align-items: center;
}

.NavBarItem{
    color: #0000ff;
}

.logo {
    align-items: center;
    display: flex;
}

.icon {
    background-image: url("./images/logo.png");
    width: 48px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
